<section>
  <div>
    <form action="" class="js-create-capsula-form create-capsula-form">
      <input type="text" name="lat" placeholder="lat" />
      <input type="text" name="lon" placeholder="lon" />
      <input type="text" name="country" placeholder="country" />
      <input type="text" name="city" placeholder="ciry" />
      <input type="date" name="open-time" placeholder="time-to-open" />
      <input type="text" name="title" placeholder="title" />
      <input type="text" name="message" placeholder="message" />
      <button type="submit">Sumbit</button>
    </form>
  </div>
</section>
